.input-default {
  border: 1px solid #181717;
  background-color: #faf9f9;
  padding: 5px;
  font-size: 16px;
}
.input-invalid{
  border: 2px solid #b83131;
  background-color: #dc0e0e;
  padding: 5px;
  font-size: 16px;
}




/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
